* {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(228, 211, 192);
}

.container h1 {
  padding-top: 18vh;
  margin-bottom: 20px;
}

.content {
  background-color: rgb(207, 207, 207);
  border-radius: 6px;
  padding: 20px;
  display: grid;
  grid-template-areas: 
    'screen screen'
    'numbers operator'
  ;
  text-align: center;
  width: fit-content;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
}

.screen {
  grid-area: screen;
  height: 60px;
  background-color: rgb(250, 250, 250);
  font-size: 45px;
  padding-top: 2%;
  padding-right: 10px;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
}

.numbers {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.numbers div {
  background-color: rgb(247, 247, 247);
  width: 80px;
  height: 45px;
  padding-top: 10%;
  font-size: 30px;
  margin: 10px;
  margin-left: 0;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
}

.numbers div:active {
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
}

.numbers div:nth-child(1) {
  background-color: rgb(255, 164, 164);
  position: relative;
  width: 172px;
  margin-right: -172px;
  z-index: 1;
}

.numbers div:nth-child(2) {
  position: relative;
  z-index: -1;
  border: none;
}

.operator {
  grid-area: operator;
  display: grid;
  margin-left: -10px;
}

.operator div {
  background-color: rgb(255, 212, 162);
  width: 80px;
  height: 45px;
  padding-top: 10%;
  font-size: 30px;
  margin: 10px;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64);
}

.operator div:active {
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.64) inset;
}

.operator .equal {
  background-color: rgb(250, 133, 0);
}

@media only screen and (min-width: 768px) {
  .container h1 {
    padding-top: 5%;
  }
}